* {
    margin: 0;
    padding: 0;
    font-family: "UTM Avo", sans-serif;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url(../font/HelveticaNeue.otf);
}
@font-face {
    font-family: "UTM Avo";
    src: url(../font/UTM\ Neo\ Sans\ Intel.ttf);
}
@font-face {
    font-family: "UTM Libel KT";
    src: url(../font/UTM\ Libel\ KT.ttf);
}
@font-face {
    font-family: "Libel Suit";
    src: url(../font/libel-suit-rg.otf);
}
body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-color: #eee;
}

/* 4 reactangle bottom the home */
.content-bottom-header {
    list-style: none;
    display: flex;
    justify-content: center;
    /* padding:0 20px; */
    counter-reset: item-counter;
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
}

.content-bottom-header .rectangle-item {
    flex-basis: 22%;
    margin: 10px;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;   
  padding-left: 50px;
}
.content-bottom-header .rectangle-item::before {
    content: counter(item-counter);
    counter-increment: item-counter;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 15px;
    background-color: black;
    font-size: 50px;
    height: 100%;
    color: #f2f2f2;
}
.content-bottom-header .rectangle-item .item-content {
    text-align: center;
    padding: 15px 20px;
    background-color: white;
    margin-left: 20px;
}
.content-bottom-header .rectangle-item .item-content h3 {
    font-family: "Libel Suit" !important;
    letter-spacing: 2px;
    font-weight: 300;
}
.content-bottom-header .rectangle-item .item-content .onMoblie{
    display: none !important;
}
/* preview company */
.preview-company {
    width: 100%;
    padding-top: 40px;

    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

.preview-company .content {
    line-height: 30px;
}

.preview-company .content:first-child {
    margin-left: 4vw;
}

.preview-company .content img {
    width: 340px;

    height: 430px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.preview-company .content {
    padding: 1.5vw;
}

.preview-company .content h6 {
    color: rgb(179, 179, 179);
    padding-bottom: 20px;
}

.preview-company .content .title {
    font-size: 50px;
    padding-top: 15px;
    line-height: 50px;
    position: relative;
    color: rgb(8, 22, 59);
    text-transform: uppercase;
    margin-top: 15px;
    display: block;
    text-align: center;
    word-spacing: 3px;
    letter-spacing: 3px;
    font-weight: 100;
}

.preview-company .content:first-child {
    position: relative;
}

.preview-company .content .title-with-color {
    color: #ed2226;
    padding-top: 50px;
}

.preview-company .content .item-content {
    padding-top: 15px;
    font-size: 16px;
}
/* work */
.work {
    padding-bottom: 30px;
}

.work .content {
    text-align: center;
}
.images {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.images .image {
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.info {
    text-align: center;
    padding-top: 10px;
    color: rgb(8, 22, 59);
    padding-bottom: 10px;
    text-transform: capitalize;
    font-size: 20px;

}
.image-background {
    width: 375px;
    height: 253px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}
.image-background .overlay {
    background-image: linear-gradient(rgb(255, 255, 255, 0.3), rgb(60, 59, 59));
    display: none;
    width: 100%;
    height: 100%;
    transition: all 2s;
    transition-timing-function: linear;
}
.image-background:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.image-background:hover .overlay {
    display: block;
}

.image-background:hover .image-content {
    display: block;
    color: white;
}
.image-content {
    position: absolute;
    bottom: 10px;
    text-align: center;
    display: none;
    font-size: small;
    padding: 20px;
}
/* about */
.about {
    background: url("https://lss.vn/wp-content/uploads/2022/03/LSS_about_us-1.jpg")
        no-repeat center;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
    position: relative;
}
.about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.about .information .button-about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}
.about .information .button-about .item {
    border: 2px solid white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    position: relative;
    color: #fff;
    font-family: "UTM Avo";
}
.about .information .button-about .item:first-child {
    background-color: #ed2226;
}
.about .information .button-about .item:first-child:hover {
    background-color: white;
    color: black;
}
.about .information .button-about .item:last-child:hover {
    background-color: #ed2226;
}
.about .information .title-about {
    color: #ed2226;
    font-size: medium;
}
.about .name {
    font-size: xx-large;
    color: white;
    position: relative;
    padding-bottom: 20px;
    text-align: center;
}
.about .word {
    font-family: "UTM Avo";
    font-size: 18px;
    padding: 10px 20px;
    line-height: 30px;
    position: relative;
    color: white;
    max-width: 85%;
    margin: auto;
}
/* service */
.services {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

.services .service {
    margin: auto;
    width: 90%;
    text-align: center;
}
.service .item {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item .content-item {
    width: 230px;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    margin: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;
}

.item .content-item:hover {
    cursor: pointer;
    transition: all 0.6s;
    
}
.item .content-item .image-service {
    overflow: hidden;
}
.item .content-item .image-service img {
    width: 250px;
    transition: all 0.6 ease-in-out;
}
.item .content-item div .image-service:hover img {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
}
.item .content-item img {
    width: 70px;
}

.item .content-item p {
    padding-top: 10px;
    font-size: large;
    font-weight: bold;
}

.content-item div div {
    padding-top: 20px;
    color: grey;
}
/* contact */

.advise {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* .advise .item-advise:last-child{
    margin-left: 50px;
} */
.advise .item-advise:first-child {
    margin-top: 7%;
}

.advise .item-advise img {
    width: 650px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.service1 {
    margin: auto;
    width: 90%;
    text-align: center;
}
.btn-call-now {
    margin-top: 50px;
    padding: 15px 20px;
    background-color: #ed2226;
    color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.btn-call-now:hover {
    background-color: white;
    color: #ed2226;
    cursor: pointer;
}
/*coop company */
.flickity-slider {
    display: block;
    text-align: center;
    position: relative !important;
    margin-bottom: 20px;
}
.flickity-viewport {
    height: 60px !important;
    margin-top: 50px;
}
.slide-item {
    width: 20%;
    height: 20px;   
}
.slide-item img {
    width: 200px;
}
.hkk {
    margin-top: 13px;
}

.hkk img {
    width: 80px !important;
}
/* title */
.title {
    font-size: 50px;
    font-weight: 100;
    position: relative;
    color: rgb(8, 22, 59);
    text-transform: uppercase;
    margin-top: 15px;
    display: inline;
    text-align: center;
    font-family: "UTM Libel KT";
}

.title::after {
    content: "";
    width: 30px;
    position: absolute;
    background-color: #ed2226;
    bottom: -30px;
    left: 50%;

    display: block;

    height: 5px;
    transform: translate(-50%, +30%);
}

.title::before {
    content: "";
    width: 90px;
    position: absolute;
    background-color: grey;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    display: block;

    height: 3px;
}
/*  */
.color-i {
    color: #ed2226;
    min-width: 35px;
}
.center {
    text-align: center;
}

.paragraph {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 65px;
    line-height: 20px;
}
@media only screen and (max-width: 600px) {
    /* 4 reactangle  */
    .content-bottom-header{
        justify-content: space-between;
        padding: 0;
    }
    .content-bottom-header .rectangle-item{
        background-color: transparent;
    }
    .content-bottom-header .rectangle-item::before{
        content: none;

    }
    .content-bottom-header .rectangle-item{
        width: 23%;
        padding-left: 0;
    }
    .content-bottom-header .rectangle-item .item-content{
        margin-left: 0;
    }
    .content-bottom-header .rectangle-item .item-content h3{
        padding: 10px 0;
    letter-spacing: 1px;
    background-color: #751314;
    color : white
    }
    .content-bottom-header .rectangle-item .item-content{
        padding: 0;
        width: 100%;
    }
    .content-bottom-header .rectangle-item .item-content .content{
        padding: 10px 0;
    }
    .content-bottom-header .rectangle-item .item-content .onMoblie{
        display: block !important;
    }
    .content-bottom-header .rectangle-item .item-content .onPC{
        display: none !important;
    } 
       /* preview compayny */
    .preview-company .content img {
        display: none;
    }

    .advise .item-advise img {
        margin-top: 20px;
        width: 100vw;
    }
    /* .menu-item{
        display: none;
    } */
    .about {
        height: auto;
    }
    .about .information {
        width: auto;
    }

    .rectangle {
        width: 250px;
    }

    .about .information {
        padding-left: 20px;
    }

    .about .image {
        width: 100%;
        /* margin-left: 50%; */
        /* transform: translateX(-50%); */
    }

    /* .over-logo .logo img{
        width: 100px;
    } */

    .item-advise:last-child {
        padding-top: 20px;
    }
    .search-box input {
        width: 120px !important;
        height: 20px;
        font-size: 1.4rem !important;
        transform: translateX(-40%);
    }
    .search-box button {
        font-size: 20px !important;
        float: right;
    }
    .geeks {
        width: 200px !important;
        margin-left: -30px;
    }
    .geeks::before {
        animation: animate 1s linear infinite;
    }
    .close {
        clear: both;
    }
    .slide-item img {
        width: 150px;
    }
    .hkk{
        width: 35%;
    }
}

@media only screen and (max-width: 1300px) {
    .about .image {
        width: 100%;
        /* margin-left: 50%; */
        /* transform: translateX(-50%); */
    }

    /* .about .information {
    width: 100%;
  } */

    .item-advise:last-child {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 300px) {
    label img {
        width: 180px;
        margin-top: 15px;
    }

    .hkk {
        margin-top: 0;
    }
    .geeks {
        width: 180px;
    }
}

@media only screen and (max-width: 400px) {
    .preview-company .content img {
        width: 300px;
        height: auto;
    }
    /* work */
    .image-background {
        width: 280px;
    }

    * {
        padding-top: 2px;
    }

    .preview-company .content img {
        width: 280px;
    }
}
@media only screen and (max-width: 820px) {
    .content-bottom-header .rectangle-item .item-content{
        margin-left: 0;
    }
    .slide-item {
        width: 40%;
        height: 20px;
    }
    
}
@keyframes animate {
    0% {
        left: 0;
    }

    50% {
        left: 24%;
    }

    0% {
        left: 0;
    }
}

.close:hover {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
    opacity: 1;
}
.close {
    top: 5px;
    right: 25px;
    width: 25px;
    height: 25px;
    position: absolute;
    -webkit-transition: -webkit-transform 0.25s, opacity 0.25s;
    -moz-transition: -moz-transform 0.25s, opacity 0.25s;
    transition: transform 0.25s, opacity 0.25s;
    opacity: 0.25;
}
